@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--gray-1);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-2);
}